<!DOCTYPE html>
<html>
<head>
	<% include partials/_header.ejs %>

	<title>TinyApp</title>
</head>
<body>
	<ul>
		<% for (var i = 0; i < urlDatabase.length; i++) { %>
			<li>
				 <%= urlDatabase[i].shortURL %> ---> <%= urlDatabase[i].longURL %> <a href="/urls/<%= urlDatabase[i].shortURL %>">Edit</a>
				 <form method="POST" action="/urls/<%= urlDatabase[i].shortURL %>/delete">
				 	<input type="submit" value="Delete"/>
				 </form>

			</li>
			<% } %>
<!-- 			<li>
 -->			<!-- <a href = "emptylink">Visit external link</a> -->
			<!-- </li> -->
	</ul>


</body>
</html>
<!-- 

<form method="POST" action="/urls/9sm5xK/delete">...</form>
<button type="submit" formmethod="post">Submit using POST</button> -->